<body>
    <h1>USER'S SLEEP PAGE</h1>
    <!-- <hr>
    <table>
        <tr>
            <th><h3>SLEEP ID</h3></th>
            <th><h3>START DATE </h3></th>
            <th><h3>END DATE </h3></th>
            <th><h3>DURATION </h3></th>
            <th><h3>USER ID</h3></th>
        </tr>
        {% for row in rows %}
        <tr>
            <td>{{row['sid']}}</td>
            <td>{{row['start_date']}}</td>
            <td>{{row['end_date']}}</td>
            <td>{{row['duration']}}</td>
            <td>{{row['user_id']}}</td>
        </tr>
        {% endfor %}
    </table> -->
    <br>
    <hr>
    <h2>View Sleep</h2>
    <a href='/usersleeppage'>USER SLEEP</a><br>
    <h2>Insert Sleep</h2>
    <a href='/addsleeppage'>ADD SLEEP</a><br>
    <!-- <h2>View Sleep</h2>
    <button onclick="window.loaction.href='/viewsleep'">VIEW SLEEP</button><br> -->
    <h2>Update Sleep</h2>
    <a href='/updatesleeppage'>UPDATE SLEEP</a><br>
    <h2>Delete Sleep</h2>
    <a href='/deletesleeppage'>DELETE SLEEP</a><br>
    <hr>
</body>